<!-- LA CONFIGURACION DE LOS TABS Y SUS REDIRECCIONES A DIFERENTES PAGINAS SE HACE EN EL ARCHIVO tabs.page.html -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="call">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
